#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.language-content {
  background-color: #414141;
  padding: 2rem;
  border-radius: 2rem;
}

.button-style {
  margin: 0.5rem;
}

.numbers {
  font-size: 3rem;
  font-weight: 800;
}
